.page
    font-family: Arial, sans-serif
    font-size: 120%

    padding: 0.5rem
    margin: 0

.page__header,
.page__main,
.page__footer
    width: auto
    max-width: 800px
    margin: 0 auto

.page__main
    padding: 2.5rem 0

@media screen and (max-width: 600px)
    .page
        font-size: 110%

@media screen and (max-width: 450px)
    .page
        font-size: 100%

    .page__main
        padding: 1.5rem 0
