.icon_type_rss
   position: relative

   width: 27px
   height: 27px

   display: block
   overflow: hidden
   text-indent: -186px

.icon_type_rss:before,
.icon_type_rss:after
   position: absolute
   left: 2px
   bottom: 2px

   content: ""

/* create circle */
.icon_type_rss:before
   width: 6px
   height: 6px

   background: #000
   border-radius: 12px

/* create the two arcs */
.icon_type_rss:after
   width: 10px
   height: 10px

   border-style: double
   border-width: 14px 14px 0 0
   border-color: #000
   border-radius: 0 50px 0 0
