.header__title
    font-size: 3rem

    position: relative

    padding-right: 43px

    display: inline-block
    white-space: nowrap

.header__description
    font-size: 1.5rem

.header__title,
.header__description
    font-weight: normal

    margin: 0

.header__link
    color: #767568

.header__rss
    position: absolute !important
    top: 50%
    right: 0

    margin-top: -10px

@media screen and (max-width: 485px)
    .header__title
        font-size: 2rem

    .header__description
        font-size: 0.98rem

    .header__rss
        top: -9999rem
