pre
    padding: 6px 10px

    overflow: auto

    border: 1px solid #ddd
    border-radius: 3px
    background: #f8f8f8

a
    text-decoration: none

    color: #0985CE

a:hover
    text-decoration: underline

h3
    font-size: 1.5rem

img
    max-width: 800px

@media screen and (max-width: 800px)
    img
        max-width: 600px

@media screen and (max-width: 600px)
    img
        max-width: 400px

    h3
        font-size: 1.3rem

@media screen and (max-width: 400px)
    img
        max-width: 300px

blockquote
    margin: 15px 0
    padding: 0 15px

    border-left: 4px solid #DDD
    color: #777
