pre
    padding: 6px 10px

    overflow: auto

    border: 1px solid #ddd
    border-radius: 3px
    background: #f8f8f8

p > code
    padding: 0px 5px
    margin: 0px 2px

    white-space: nowrap

    border: 1px solid #ddd
    border-radius: 3px
    background: #f8f8f8

a
    text-decoration: none

    color: #0985CE

a:hover
    text-decoration: underline

h3
    font-size: 1.5rem

img
    display: block;
    max-width: 100%;
    height: auto;

@media screen and (max-width: 600px)
    h3
        font-size: 1.3rem

blockquote
    margin: 15px 0
    padding: 0 15px

    border-left: 4px solid #DDD
    color: #777
