.post__title
    font-size: 1.8rem
    font-weight: normal

    margin: 0

.post__date
    font-family: 'Cent-Italic21', Georgia, serif
    font-size: 1rem

.post img
    display: block

    margin: 0 auto

@media screen and (max-width: 600px)
    .post__title
        font-size: 1.5rem
